
@{ 
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<h2>Delete</h2>
<fieldset>
    <p>
        <div class="display-label"> Mã loại: @Html.Encode(Model.maloai)</div>
        <div class="display-label"> Tên loại: @Html.Encode(Model.tenloai)</div>
    </p>
</fieldset>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <p>
        <input type="submit" value="Delete" />
    </p>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
